build
incubator-milagro-crypto-c

**/*~
**/*bak

model/sec256k1/__pycache__/
model/sec256k1/*.pyc
model/examples/game.json
model/vectors/*/__pycache__
model/vectors/*/*.txt
model/vectors/*/*.json

vagrant/.vagrant
target
vagrant/repo

log.txt
coverage
examples/scratch.c
model/examples/scratch.py
